<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex.mapper.MarketMapper">
    
    <select id="selectMarketList" parameterType="com.spring.ex.Dto.MarketDto" resultType="com.spring.ex.Dto.MarketDto">
		SELECT   mar_num
			   , mar_name
			   , mar_content
			   , mar_price
		  FROM market
		  ORDER BY mar_num DESC
    </select>
    
    <insert id="marketInsert" useGeneratedKeys="true" keyProperty="mar_num">
	    INSERT INTO market(     
	    						mar_num
			   					, mar_name
							    , mar_content
							    , mar_price )
	                  VALUES(     
	                 		   #{mar_num}
	                 		   , #{mar_name,jdbcType=VARCHAR}
	                 		   , #{mar_content,jdbcType=VARCHAR}
	                 		   , #{mar_price,jdbcType=INTEGER}  )
	                 		   
    </insert>
    
    <update id="marketUpdate">
      	UPDATE market
		   SET mar_name = #{mar_name, jdbcType=VARCHAR},
		   	   mar_content  = #{mar_content, jdbcType=VARCHAR},
		   	   mar_price  = #{mar_price, jdbcType=INTEGER}
		 WHERE mar_num = #{mar_num};
    </update>
    
    <delete id="marketDelete">
    DELETE 
		  FROM market
		 WHERE mar_num = #{mar_num};
    </delete>
    
    <select id="selectMarketByCode" parameterType="com.spring.ex.Dto.MarketDto" resultType="com.spring.ex.Dto.MarketDto">
		SELECT   mar_num
			   , mar_name
			   , mar_content
			   , mar_price
		  FROM market
		 WHERE mar_num = #{mar_num}
    </select>

	<!-- 카트 담기 -->
	<insert id="addCart">
		insert into cart_2 (cartNum, m_id, mar_num, cartCount)
		values (#{cartNum}, #{m_id}, #{mar_num}, #{cartCount})
	</insert>

	<!-- 카트 리스트 -->
	<select id="cartList" resultType="com.spring.ex.Dto.CartListDto">
		select
		row_number() over(order by c.cartNum desc) as num,
		c.cartNum, c.m_id, c.mar_num, c.cartCount, c.addDate,
		m.mar_name, m.mar_price, m.mar_ThumbImg
		from cart_2 c
		inner join market m
		on c.mar_num = m.mar_num
		where c.m_id = #{m_id}
	</select>
	
	
</mapper>