<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex.mapper.ReviewMapper">
    
    <select id="selectBoardList" parameterType="com.spring.ex.Dto.ReviewDto" resultType="com.spring.ex.Dto.ReviewDto">
		SELECT   rb_num
			   , rb_title
			   , rb_memo
			   , rb_author
			   , rb_regdate
		  FROM review
		  ORDER BY rb_num DESC
    </select>
    
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="rb_num">
	    INSERT INTO review(     
	    						rb_num
	   					       , rb_title 
	   					       , rb_memo 
	   					       , rb_author
	   					       , rb_regdate )
	                  VALUES(     
	                 		   #{rb_num}
	                 		   , #{rb_title,jdbcType=VARCHAR}
	                 		   , #{rb_memo,jdbcType=VARCHAR}
	                 		   , #{rb_author,jdbcType=VARCHAR}
	                 		   , #{rb_regdate, jdbcType=DATE}  )
	                 		   
    </insert>
    
    <update id="updateBoard">
      	UPDATE review
		   SET rb_title = #{rb_title, jdbcType=VARCHAR},
		   	   rb_memo  = #{rb_memo, jdbcType=VARCHAR}
		 WHERE rb_num = #{rb_num};
    </update>
    
    <delete id="deleteBoard">
    DELETE 
		  FROM review
		 WHERE rb_num = #{rb_num}
    </delete>
    
    <select id="selectBoardByCode" parameterType="com.spring.ex.Dto.ReviewDto" resultType="com.spring.ex.Dto.ReviewDto">
		SELECT  rb_num, 
		        rb_title, 
		        rb_memo,
		        rb_author, 
		        rb_regdate
		  FROM review
		 WHERE rb_num = #{rb_num}
    </select>
</mapper>