<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.ex.Dto.MemberDto" alias="MemberDto"></typeAlias>
		<typeAlias type="com.spring.ex.Dto.placeDTO" alias="placeDTO"></typeAlias>
		<typeAlias type="com.spring.ex.Dto.Cart_Dto" alias="Cart_Dto"></typeAlias>
		<typeAlias type="com.spring.ex.Dto.AdminMemberDto" alias="AdminMemberDto"></typeAlias>
		<typeAlias type="com.spring.ex.Dto.CartDto" alias="CartDto"></typeAlias>
		<typeAlias type="com.spring.ex.Dto.CartListDto" alias="CartListDto"></typeAlias>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/boardMapper.xml"/>
		<mapper resource="mappers/placeMapper.xml" />
		<mapper resource="mappers/reviewMapper.xml"/>
		<mapper resource="mappers/cart_SQL.xml" />
		<mapper resource="mappers/marketMapper.xml"/>
		<mapper resource="mappers/cartMapper.xml"/>
	</mappers>
</configuration>
