<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- [DB연결 사용법] 1. SQL문 작성 하고 다음과 같은 양식으로 만들어준다. -->
<!-- sql문 작성 -->
<mapper namespace="memberMapper">
	<select id="mList" resultType="MemberDto">
		select * from member
	</select>
	<insert id="userInsert" parameterType="MemberDto">
		INSERT INTO member(m_name,m_email,m_id,m_pw,m_address)
		VALUES(#{m_name},#{m_email},#{m_id},#{m_pw},#{m_address})
	</insert>
</mapper>