<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

<!-- 댓글 조회 -->
	<select id="readReply" resultType="com.spring.ex.Dto.Community_Board_Comment_Dto">
    	SELECT
    		  cb_num, cb_m_num, cb_memo, cb_author, cb_regdate
    	 FROM community_board_comment
    	WHERE cb_num = #{cb_num}
	</select>

<!-- 댓글 작성 -->
	<insert id="writeReply" useGeneratedKeys="true" keyProperty="cb_m_num">
	INSERT INTO community_board_comment(
							  cb_num
							, cb_memo
							, cb_author
						  				)
				  VALUES(	 #{cb_num}
				  		   , #{cb_memo}
				  		   , #{cb_author}	)
	</insert>
	
<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="com.spring.ex.Dto.Community_Board_Comment_Dto">
		UPDATE community_board_comment SET cb_memo = #{cb_memo}
		WHERE cb_m_num = #{cb_m_num}
	</update>

<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="com.spring.ex.Dto.Community_Board_Comment_Dto">
		DELETE FROM community_board_comment
		WHERE cb_m_num = #{cb_m_num}
	</delete>
	
<!-- 선택된 댓글 조회 -->
	<select id="selectReply" resultType="com.spring.ex.Dto.Community_Board_Comment_Dto">
		SELECT
				cb_num
			  , cb_m_num
			  , cb_memo
			  , cb_author
			  , cb_regdate
		  FROM community_board_comment
		 WHERE cb_m_num = #{cb_m_num}
	</select>
	
</mapper>
